<%- layout('layout/boilerplate') %>

    <div class="alert alert-success my-5 " role="alert">
        <h2>Offer !! </h2>
    </div>
    <div class="main">
        <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x900/?sneakers,shoes" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center  fs-4">Sneaker </h5>
                <p class="card-text  my-3"> <span class="fs-3"> 200</span> EGP </p>
                <a href="#" class="btn btn-success d-block text-center"> View Details</a>
            </div>
        </div>
    </div>