<nav class="bg-light">
    <div class="container   border-bottom container-1 ">

        <a class="navbar-brand" href="/">A-Shop</a>


        <div class="nav__icons hide-me ">

            <% if( !currentUser) { %>
                <a href="/register" class="nav__icons nav-link"> Sign Up </a>
                <a href="/login" class="nav__icons nav-link "> login </a>
                <% } else { %>
                    <a href=""> <i class="bi bi-person nav__icons"></i></a>
                    <a href=""> <i class="bi bi-cart2 nav__icons">
                            <span class="cart-items-numbers">
                                <%= userInfo.cart && userInfo.cart.products.length>= 1 ? userInfo.cart.products.length :
                                    null %>
                            </span>

                        </i></a> <a href="/logout" class="nav__icons nav-link "> logout </a>
                    <% } %>


        </div>
        <a class="nav__icons toggole">
            <i class="bi bi-toggles2"></i>
        </a>

    </div>


    <div class="container nav__icons container-2  hide-me">
        <a href="/products" class="nav-link">home</a>
        <a href="" class="nav-link">about</a>
        <a href="" class="nav-link">contact</a>

    </div>
    <div class="container md-screen">
        <div class="md-screen__top">
            <div class="nav__icons ">



                <% if(!currentUser) { %>
                    <a href="/register" class="nav__icons nav-link"> Sign Up </a>
                    <a href="/login" class="nav__icons nav-link "> login </a>
                    <% } else { %>
                        <a href=""> <i class="bi bi-person nav__icons"></i></a>
                        <a href=""> <i class="bi bi-cart2 nav__icons">
                                <span class="cart-items-numbers">2</span>

                            </i></a>
                        <a href="/logout" class="nav__icons nav-link "> logout </a>
                        <% } %>


            </div>
        </div>
        <div class="md-screen__links ">
            <a href="" class="nav-link">home</a>
            <a href="" class="nav-link">about</a>
            <a href="" class="nav-link">contact</a>
        </div>
    </div>
</nav>







</div>

</nav>