nav {
  .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin: 20px auto;

    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;

      color: $color-primary-light;
      // border: 1px solid black;
      // margin-right: 500px !important;
    }
    .nav__margin {
      margin-left: auto;
    }
  }
  .nav__icons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    i {
      color: grey;
      font-size: 1.5rem;
      display: inline-block;
      // margin-left: 20px;
      transition: transform 0.3s ease-in;
      &.bi-cart2 {
        position: relative;
        & span {
          position: absolute;
          top: -35%;
          left: 30%;
          color: $color-primary-light;
          font-size: 1.2rem;
          font-weight: bold;
          // padding: 0.7rem;
          // border-radius: 40%;
          // border: 1px solid black;
        }
      }
    }
  }
  .toggole {
    display: none;
  }
  .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a.nav-link {
    font-size: 1rem;
    color: grey !important;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 20px;
    &:hover {
      color: $color-primary-light !important;
    }
  }
  .md-screen {
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    &__top {
      display: flex;
      justify-content: flex-end;
    }
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.langBTN {
  border: none;
  background: none;
}
.profile-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  span {
    text-transform: capitalize;
    // margin-bottom: 50%;
    display: inline-block;
    font-size: 0.8rem;
  }
  i {
    // margin: 0 auto !important;
    // text-align: center;
    margin-bottom: 40%;
    display: block !important;
    // margin-left: 25% !important;
    // display: block !important;
  }

  &:hover {
    color: $color-primary-light !important;
    .nav__icons {
      color: $color-primary-light !important;
    }
  }
}

.nav-child-divs > *,
nav .nav__icons i {
  &:hover {
    color: $color-primary-light !important;
  }
}
